@import './vendor/normalize.css';

:root {
    --main-color: #fd9ab6;
    --secondary-color: #fff4e6;
    --main-text-color: #11d7d8;
    --secondary-text-color: pink;
    --send-message-form: white;
    --border: 1px solid #e0e0e0;
}

* { box-sizing: border-box; }

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(6, 1fr);
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas:
        "user room room room room room room"
        "roomList chat chat chat chat chat chat"
        "addRoom msg msg msg msg msg msg";
}

.room-list {
    grid-area: roomList;
    word-break: break-all;
    border-right: var(--border);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;


        li {
            padding: 18px 15px 18px 15px;
            color: gray;
                font-weight: bold;

            &:hover {
                background-color: rgb(247, 247, 247);
                cursor: pointer;
            }

            // a {
            //     text-decoration: none;
            //     color: gray;
            //     font-weight: bold;
            // }
        }
    }
}

.new-room-form {
    grid-area: addRoom;
    border-top: var(--border);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 15px;

    form, input {
        border: none;
        width: 100%;
        height: 100%;

        &:focus {
            // border: none;
            outline: none;
        }
    }
}

.message-list {
    grid-area: chat;
    overflow-y: scroll;
    padding: 25px 0 5px 5px;
}

.send-message-form {
    grid-area: msg;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-top: var(--border);
    border-left: var(--border);

    textarea {
        width: 100%;
        padding: 10px;
        resize: none;
        border: none;

        &:focus {
            outline: none;
        }

        &[disabled] {
            background: transparent;
        }
    }
}

.message-list__message {
    display: flex;
    padding: 10px 3px 0 3px;
    margin: 10px 0 0 0;
    // border-top: 1px solid #f4f4f4;

    &:not(:first-of-type) {
        border-top: 1px solid #f5f5f5;
    }

    img {
        width: 45px;
        height: 45px;
        border-radius: 3px;
        flex-shrink: 0;
    }
}

.message-content {
    padding-left: 5px;
    word-break: break-word;
    

    .message-content__sender {
        color: #c6c6c6;
        margin-bottom: 3px;
        font-size: 0.875em;
    }

    .message-content__message {
        line-height: 1.6;
    }
}

// .message-content__time {
//     font-size: 0.8em;
//     color: #c6c6c6;
//     font-weight: 100;
// }

.user {
    grid-area: user;
    border-bottom: var(--border);
    border-right: var(--border);
    display: flex;
    align-items: center;
    padding-left: 15px;

    span {
        padding-left: 5px;
        font-weight: bold;
        font-size: 1.2em;
    }
}

.current-room {
    grid-area: room;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    font-size: 2em;
    font-weight: bold;
}

