@import './vendor/normalize.css';

:root {
    --main-color: #006eff;
    --color-white: #fff;
    --main-text-color: rgba(0,0,0,0.80);
    --secondary-text-color: rgba(0,0,0,0.62);
    --third-text-color: rgba(0,0,0,0.38);
    --darkened-background: rgba(0,0,0,0.025);
    --border: 1px solid #e0e0e0;
    --secondary-border: 1px solid #f5f5f5;
}

* { box-sizing: border-box; }

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(6, 1fr);
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas:
        "user room room room room room room"
        "roomList chat chat chat chat chat chat"
        "addRoom msg msg msg msg msg msg";
}

.login {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    color: var(--third-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .is-logged-in {
        display: none;
    }

    input {
        padding: 15px;
        font-size: 1.3em;
        border: var(--border);
        background-color: var(--darkened-background);
        color: var(--main-text-color);

        &:focus {
            outline: none;
        }
    }
}

.hide-login-component {
    display: none;
}

.room-list {
    grid-area: roomList;
    word-break: break-all;
    border-right: var(--border);
    color: var(--third-text-color);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;


        li {
            padding: 18px 15px 18px 22px;
            font-weight: bold;
            border-bottom: var(--secondary-border);

            &:hover {
                background-color: var(--darkened-background);
                color: var(--secondary-text-color);
                cursor: pointer;
            }
        }
    }
}

.new-room-form {
    grid-area: addRoom;
    border-top: var(--border);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 15px;

    form, input {
        border: none;
        width: 100%;
        height: 100%;

        &:focus {
            outline: none;
        }
    }
}

.message-list {
    grid-area: chat;
    overflow-y: scroll;
    padding: 25px 0 5px 5px;
}

.message-list__empty {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin-bottom: 0;
        color: var(--third-text-color);
    }

    p {
        color: var(--third-text-color);
    }

    svg {
        width: 75px;
        fill: var(--main-color);
    }
}

.no-room-selected {
    grid-area: chat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third-text-color);
}

.send-message-form {
    grid-area: msg;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-top: var(--border);
    border-left: var(--border);

    textarea {
        width: 100%;
        padding: 10px;
        resize: none;
        border: none;

        &:focus {
            outline: none;
        }

        &[disabled] {
            background: transparent;
        }
    }

    svg {
        width: 32px;
        height: 32px;
        fill: var(--main-color);
    }
}

.message-list__message {
    display: flex;
    padding: 10px 3px 0 3px;
    margin: 10px 0 0 0;

    &:not(:first-of-type) {
        border-top: var(--secondary-border);
    }

    img {
        width: 45px;
        height: 45px;
        border-radius: 3px;
        flex-shrink: 0;
    }
}

.message-content {
    padding-left: 5px;
    word-break: break-word;
    

    .message-content__sender {
        color: var(--third-text-color);
        margin-bottom: 3px;
        font-size: 0.875em;
    }

    .message-content__message {
        line-height: 1.6;
        color: var(--primary-text-color);
    }
}

.user {
    grid-area: user;
    border-bottom: var(--border);
    border-right: var(--border);
    color: var(--third-text-color);
    display: flex;
    align-items: center;
    padding-left: 15px;

    span {
        padding-left: 5px;
        font-weight: bold;
        font-size: 1.2em;
    }
}

.current-room {
    grid-area: room;
    border-bottom: var(--border);
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    font-size: 2em;
    font-weight: bold;
}

